#navbar {
    padding: 1rem 2rem;
    user-select: none;
    position: relative;
}



#navbar #button-bar {
    margin: 2rem 0 0 0;
    width: 100%;
}

#navbar #button-bar .nav-button {
    padding: 0 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
    color: #fff;
    position: relative;
}

#navbar #button-bar .nav-button .icon{
    display: none;
}

/* underlined */
#navbar #button-bar .nav-button::before {
    content: " ";
    position: absolute;
    bottom: -1rem;
    left: 10%;
    width: 80%;
    height: 0.1rem;
    background: rgba(255,255,255,.0);
    transition: 0.25s ease-in-out;
    border-radius: 1rem;
}

#navbar #button-bar .nav-button:hover::before , #navbar #button-bar .nav-button.selected::before {
    background: rgba(255,255,255,1);
}

#navbar.compact {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    opacity: 0;
    height: 4rem;
    margin-top: -4rem;
    width: 100%;    
    background: rgba(0,0,0,.55);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: none;
}

#navbar.compact.show {
    transition: opacity 1.5s , margin-top .5s;
    opacity: 1;
    margin-top: 0rem;
}

#navbar.compact.hide {
    transition: opacity 1.5s , margin-top .5s;
    opacity: 0;
    margin-top: -4rem;
}

#navbar img#logo {
    margin: 1rem 0 0 0;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.25);
    border-radius: 30rem;
}

#navbar.compact img#logo {
    width: 3rem;
    height: 3rem;
    margin: 0;
}

#navbar h1 {
    margin: 1rem 0 0 0;
    font-size: 3rem;
    font-weight: 400;
    font-family: Montserrat, sans-serif
}

#navbar.compact h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0 1rem;
}

#navbar.compact #button-bar {
    margin: 0;
    height: 3rem;
    justify-content: flex-end;   
}

#navbar.compact #button-bar .nav-button {
    font-size: 1.15rem;
}

#navbar #button-bar .nav-button:focus {
    outline: none;
}

@media screen and (max-width: 768px) {
    
    #navbar h1 {
        font-size: 2.5rem;
    }

    #navbar #logo {
        width: 7rem;
        height: 7rem;
    }

    #navbar #button-bar .nav-button {
        font-size: 1rem;
    }    

    #navbar.compact {
        height: 4rem;
        margin-top: -3rem;
    }
    
    #navbar.compact img#logo {
        width: 2rem;
        height: 2rem;
    }
    
    #navbar.compact h1 {
        font-size: 1rem;
    }
    
    #navbar.compact #button-bar {
        height: 2rem;
        min-width: 5rem;
    }
    #navbar.compact #button-bar span{
        display: none;
    }
    
    #navbar.compact #button-bar .nav-button .icon{
        display: flex;
    }

    #navbar.compact #button-bar .nav-button {
        font-size: .35em;
    }

    #navbar img#logo {
        box-shadow: 0 1rem 1rem rgba(0,0,0,0.25);
    }
    
}