view#about {
    backdrop-filter: blur(1rem);
}

view#about #logo svg{
    fill: #101010;
}

:root[data-theme=dark] view#about #logo svg{
    fill: #fff;
}

view#about .social svg {
    fill: #404040;
}

:root[data-theme=dark] view#about .social svg {
    fill: #fafafa;
}