div.gallery {
    width: 100%;
    padding-top: 4rem;
}

div.gallery.mobile {
    padding-top: 1rem;
}

div.gallery h1#title { 
    color: #666;
    text-align: center;
    font-size: 2.2rem;
    margin: 2.5rem 0;
    font-weight: light;
}

div.gallery.mobile h1#title {
    font-size: 1.5rem;
    margin: 1rem 0;
}

div.gallery ul#image-list {
    width: 100%;
    height: 100%;
    padding: 0 10rem;
    text-align: center;
}

div.gallery.mobile ul#image-list {
    padding: 0 1rem;
}

div.gallery ul#image-list li {
    display: inline-block;
    margin: 1rem .35rem;
    list-style-type: none;
}

div.gallery.mobile ul#image-list li {
   display: block;
}

div.gallery ul#image-list li div.canvas{
    box-shadow: 0 0 1rem rgba(0,0,0,.1);
}

div.gallery ul#image-list li div.canvas,
div.gallery ul#image-list li div.canvas img {
    height: 15rem;
    border-radius: .75rem;
    cursor: pointer;
    padding: 0;
    transition: var(--animation-fast) ease-in-out;
}

div.gallery.mobile ul#image-list li div.canvas,
div.gallery.mobile ul#image-list li div.canvas img {
    height: auto;
    width: 100%;
}

div.gallery ul#image-list li div.canvas img {
    width: 100%;
}

div.gallery ul#image-list li div.canvas:hover {
    transform: translateY(-.25rem);
    box-shadow: 0 0 1rem rgba(0,0,0,.2);
}