button.selector {
    position: relative;
    z-index: 9;
    background: rgb(0,0,0,.05);
    border-radius: 5rem;
    padding: 0.25rem .75rem;
    border: none;
    margin: 0;
    box-shadow: none;
    margin-left: .5rem;
    width: auto;
    color: #404040;
    cursor: pointer;
}

button.selector:hover, button.selector:focus {
    background: rgb(0,0,0,.1);

}

:root[data-theme=dark] button.selector {
    background: rgb(255,255,255,.05);
    color: rgba(255,255,255,.8);
    font-size: .85rem;
}


:root[data-theme=dark] button.selector:hover ,
:root[data-theme=dark] button.selector:focus {
    background: rgb(255,255,255,.1);
}


div#selector-menu.open{
    display: flex;
}

div#selector-menu.show{
    display: flex;

    opacity: 1;
}


div#selector-menu{
    position: absolute;
    bottom: 0;
    display: none;
    flex-direction: row;
    justify-content: center;
    padding: .5rem;
    backdrop-filter: blur(.25rem);
    width: calc(100%);
    opacity: 0;
    transition: opacity var(--slow);
    background: rgba(0,0,0,.15);
    z-index: 2;
}

div#selector-menu button.option {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    font-size: .8rem;
    margin: 0;
    margin-bottom: .35rem;
    cursor: pointer;
    height: 100%;
    border-radius: .35rem;
    background: transparent;
    box-shadow: none;
    height: 2rem;
    margin-right: .2rem;
    transition: background var(--fast);
}

div#selector-menu button.option:hover,
div#selector-menu button.option:focus,
div#selector-menu button.option.selected {
    background: rgba(0,0,0,.05);
    color: var(--text-color);
}

:root[data-theme=dark] div#selector-menu button.option:hover,
:root[data-theme=dark] div#selector-menu button.option:focus,
:root[data-theme=dark] div#selector-menu button.option.selected {
    background: rgba(255,255,255,.1);
    color: var(--text-color);
}