

/**
*  -----------------------------------------------------
*   Global sidebar component 
*  -----------------------------------------------------
*/
div#sidebar {
    --sidebar-background: #fff;
    width: 3rem;
    min-width: 3rem;
    height: 100%;
    background: var(--sidebar-background);
    padding: .2rem 0;
    z-index: 1;
    backdrop-filter: blur(1rem);
    border-right: .1rem solid rgba(0, 0, 0, .05);
}

:root[data-theme=dark] div#sidebar {
    --sidebar-background: rgba(0, 0, 0, .07);
    ;
    border-right: none;
}

div#sidebar a.sidebar-item {
    --sidebar-item-size: 2.5rem;
    height: var(--sidebar-item-size);
    width: var(--sidebar-item-size);
    margin: 0.15rem 0;
    border-radius: .35rem;
    transition: background var(--fast);
    cursor: pointer;
}

div#sidebar a.sidebar-item svg {
    fill: #404040;
}

:root[data-theme=dark] div#sidebar a.sidebar-item svg {
    fill: #e1e1e1;
}

div#sidebar a.sidebar-item svg{
    position: relative;
    left: -.1rem;    
}

div#sidebar a.sidebar-item::before {
    content: "";
    display: block;
    position: relative;
    top: 0;
    left: -.75rem;
    width: .2rem;
    height: 100%;
  
    background: rgba(0, 0, 0, .7);
    border-radius: 50rem;
    opacity: 0;
    transition: opacity var(--fast);
    
}

div#sidebar a.sidebar-item.selected::before {
    opacity: 1;
}

:root[data-theme=dark] div#sidebar a.sidebar-item::before {
    background: rgba(255, 255, 255, .1);
}

:root[data-theme=dark] div#sidebar a.sidebar-item.selected svg {
    fill: #e1e1e1;
}


div#sidebar a.sidebar-item:hover,
div#sidebar a.sidebar-item:focus{
    outline: none;
}

div#sidebar a.sidebar-item:not(.selected):hover,
div#sidebar a.sidebar-item:not(.selected):focus{
    background: rgba(0, 0, 0, .1);
}

:root[data-theme=dark] div#sidebar a.sidebar-item:not(.selected):hover,
:root[data-theme=dark] div#sidebar a.sidebar-item:not(.selected):focus{
    background: rgba(255, 255, 255, .1);
}

div#sidebar div#sidebar-modal {
    background : rgba(0,42,200,0.75);
    width : 15rem;
    height : 8.5rem;
    color: #fafafa;
    border-radius : .35rem;
    position: fixed;
    bottom: 3.5rem;
    left: .5rem;
    padding: 1rem;
    z-index: 10;
    box-shadow : var(--default-box-shadow);
    opacity: 0;
    transition: opacity var(--fast);
    display: none;
}

:root[data-theme=dark] div#sidebar div#sidebar-modal {
    background: rgba(255, 255, 255, .1);
}

div#sidebar div#sidebar-modal svg { 
    fill: #fafafa !important;
}

div#sidebar div#sidebar-modal button {
    background: rgba(255, 255, 255, .15) !important;
    box-shadow: none;
    color: #fafafa !important;
}

div#sidebar div#sidebar-modal.visible {
    display: block;
}

div#sidebar div#sidebar-modal.show {
    opacity: 1;
}

