
/**
*  -----------------------------------------------------
*   Variable panel component (only development) 
*  -----------------------------------------------------
*/
#variable-panel {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .0);
    height: 100%;
    min-width: 22rem;
    padding: 0rem;
    line-height: 1.5rem;
    border-left: .1rem solid rgba(0, 0, 0, .05);
    border-top: .1rem solid rgba(0, 0, 0, .05);
    backdrop-filter: blur(.5rem);

    transition: opacity var(--fast), right var(--fast);
}

:root[data-theme="dark"] #variable-panel {
    background: rgba(0, 0, 0, .03);
}

#variable-panel.hidden * {
    opacity: 0;
    display: none;
}

div#variable-panel h1#title {
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.3rem;
}

div#variable-panel h1.log-item-title {
    font-weight: bold;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    margin-top: 0;
}

div#variable-panel p {
    height: calc(100% - 5rem);
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

div#variable-panel span.log-item {
    display: block;
    padding: .45rem 2rem;
    min-height: 2.6rem;
    height: fit-content;
    font-size: .9rem;
    border-bottom: .08rem solid rgba(0, 0, 0, .05);
    margin: 0;
}

div#variable-panel td.key {
    background-color: rgba(0, 0, 0, .8);
    color: #FFFFFF;
    border-radius: .35rem;
    max-width: 50%;
    width: fit-content;
    font-size: .75rem;
    padding: .1rem .5rem;
    font-weight: bold;
}

div#variable-panel td.value {
    border-radius: .35rem;
    width: 100%;
    height: fit-content;
    font-size: .75rem;
    font-weight: bold;
    padding: .1rem .5rem;
}
