div.date-input{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.date-input input {
    font-size: 1rem;
    height: 100%;
    width: 8rem;
    padding: .5rem;
    letter-spacing: .05rem;
    text-align: center;
}

div.date-input input:focus {
    outline: none;
}

div.date-input input.no-editable {
    cursor: default;
}

div.date-input input:focus {
    background: rgba(255,255,255,.1);
}

