.minimal-input {
    --placeholder : '';
    width: 10rem;
    height: 2rem;
    /*background: white;*/
    display: flex;
    padding: .5rem;
    background: rgba(255, 255, 255, .05);
    transition: opacity var(--slow);
    color:rgba(255, 255, 255, 1);
    font-family: inherit;
    border-radius: .35rem !important;
    transition: background var(--fast), border-color var(--fast) !important;
    border: .2rem solid rgba(255, 255, 255, 0) !important;
}

.minimal-input.empty {
    color:rgba(255, 255, 255, .0)
}

.minimal-input.empty:before {
    opacity: .7;
}

.minimal-input:before {
    content: var(--placeholder);
    position: absolute;
    display: flex;
    padding: .5rem;
    top: 0;
    left: 0;
    color: white;
    opacity: 0;
    transition: opacity var(--fast);
}

.minimal-input:focus {
    outline: none;
    background: rgba(255, 255, 255, .05) !important;
    border-color: rgba(255, 255, 255, .1) !important;
}