
div#date-selector {
    display: none;
    padding: 0;
    justify-self: center;
    width: 100%;
    min-width: 35rem;
    height: 100%;
    border-radius: .5rem;
    opacity: 0;
    transition: opacity var(--fast);
    background-color: rgba(255,255,255,.0);
}

div#date-selector.open {
    opacity: 1;
}

div#date-selector.visible {
    display: flex;
}

div#date-selector div.title-bar {
    padding: 0.25rem 1rem;
    justify-content: space-between;
}

div#date-selector div.year-name svg,
div#date-selector div.month-name svg
{
    opacity: 0;
    cursor: pointer;
    transition: opacity var(--fast), background var(--fast);
    border-radius: 4rem;
}

div#date-selector div.year-name:hover svg,
div#date-selector div.month-name:hover svg
{
    opacity: .7;
}

div#date-selector div.year-name svg:hover,
div#date-selector div.month-name svg:hover
{
    background: rgba(255,255,255,.05);
}

div#date-selector div.month-name {
    padding: 0rem .15rem;
    font-size: 1.5rem;
}

div#date-selector div.week-days{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: .75rem;
}

div#date-selector div.week-days button.day {
    box-sizing: content-box;
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    border: .25rem solid rgba(255,255,255,0);
    padding: .75rem;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 2rem;
    border-radius: .5rem;
    box-shadow: none;
    background: none;
    cursor: pointer;
    transition: background var(--fast), transform var(--fast), color var(--fast), border-color var(--fast);

}

div#date-selector div.week-days button.day.today {
    border-color: rgba(255,255,255,.4);
}

div#date-selector div.week-days div.day.empty, 
:root[data-theme=dark] div#date-selector div.week-days button.day.empty{
    background: transparent;
    cursor: default;
    box-shadow: none;
}
div#date-selector div.week-days button.day:not(.empty):not(.today):hover,
div#date-selector div.week-days button.day:not(.empty):not(.today):focus {
    background : rgba(0,0,0,.05);
    transform: scale(1.1);
}

:root[data-theme=dark] div#date-selector div.week-days button.day:not(.empty):not(.today):hover,
:root[data-theme=dark] div#date-selector div.week-days button.day:not(.empty):not(.today):focus {
    background : rgba(255,255,255,.05);
    color: #fff;
}

div#date-selector button#accept {
    padding: .75rem 1rem;
    background: rgba(255,255,255,.05);
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: none;
}

div#date-selector button#accept svg {
    margin-right: .5rem;
} 

div#date-selector button#accept:hover,
div#date-selector button#accept:focus {
    background: rgba(255,255,255,.1);
}