
notification {
    position: fixed;
    bottom : -5rem;
    right : 1rem;
    width : 20rem;
    height: fit-content;
    background: var(--surface-1);
    border-radius: .35rem;
    transition: .5s;
    padding: 1.5rem;
    opacity : 0;
    color: var(--on-surface-1);
    z-index: 1000;
    box-shadow: 0.1em .5rem .1rem rgba(0,0,0,.15);
}

notification.show {
    bottom: 1rem;
    opacity: 1;
    transition: .5s;
}

notification #nt-bar {
    margin-bottom: .5rem;
    display: flex;
}

notification #nt-bar.hidden{
    display: none;
}

notification #nt-bar #nt-title{
    font-size : 1.25rem;
}

notification #nt-content {
    word-break : break-word;
}

notification #nt-content svg{
    fill : var(--on-surface-1);
}

notification h1 {
    margin: 0;
}

@media screen and (max-width: 500px) {
    
    notification {
        position: fixed;
        top : -5rem;
        right : 10%;
        width : 80%;
    }

    notification.show {
        top: 1rem;
        opacity: 1;
        transition: .5s;
    }
    

}