
div#category-bar {
    width: 20em;
    height: 100%;
    padding: 1.25rem 1.25rem 0 1rem;
    border-right: .1rem solid rgba(0, 0, 0, .05);
    transition: width var(--medium), opacity var(--slow);
    backdrop-filter: blur(1rem);
  
}
div#category-bar div#category-bar-menu {
    overflow: auto;
    padding: 0 0 2rem 1rem;
    height: 100%;
}

div#category-bar h1#category-bar-title {
    font-size: 1.25rem;
    margin: .5rem 0;
    text-transform: uppercase;  
    display:none;
    padding-bottom: 1rem;
    border-bottom: .1rem solid rgba(255, 255, 255, .05);
}


div#category-bar div.label {
    padding: .25rem;
    margin: .35rem 0.1rem;
    text-transform: uppercase;  
    font-size: .7rem;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: .1rem;
    height: 1rem;
    opacity: .6;
    transition: opacity var(--fast), font-size var(--fast), color var(--medium);
}

div#category-bar div.label.selected {
    font-size: .8rem;
    opacity: 1;
}

div#category-bar div.label.selected::after {
    content: '';
    display: block;
    width: .1rem;
    height: 1rem;
    background: var(--text-color);
    position: relative;
    left: -5%;
    top: -.9rem;
    border-radius: 2rem;
}


div#category-bar div.label:hover {
    opacity: .8;
}


div#category-bar button#new {
    background: rgba(0,0,0,0.75);
    box-shadow: var(--default-box-shadow);
    height: 3rem;
    width: 3rem;
    border-radius: 35rem;
    position: absolute;
    z-index: 1;
    bottom: 1rem;
    right: 1rem;
    transition: background var(--fast), transform var(--fast);
}

:root[data-theme=dark] div#category-bar button#new {
    background: rgba(255, 255, 255, .1);
    box-shadow: var(--default-box-shadow);
}

div#category-bar button#new:hover {
    background-color: rgba(0, 0, 0, .60);
    transform: scale(.95);
}

:root[data-theme=dark] div#category-bar button#new:hover {
    background-color: rgba(255, 255, 255, .2);
    transform: scale(.95);
}