view#new-task {
    width: 100%;
    height: 100%;
    padding: 1.5rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: start;    
}


view#new-task div#new-task-container {
    opacity: 0;
    transition: opacity var(--medium);
}

view#new-task div.task-name-row,
view#new-task #task-description {
    margin: .5rem 0;
    padding: 1rem;
    border-radius: .35rem;
    max-width: 38rem !important;
    border: none;
    transition: background var(--fast) ;
}

view#new-task #task-description::before {
    padding: 1rem;
}

view#new-task #task-name {
    overflow-x: auto;
    height:100%;
    max-height: 3.5rem;
    font-size: 1.5rem;
    width: 30rem;
    border: none;
    background: transparent;
    margin-left: .5rem;
    cursor: text;
    border-bottom: .15rem dashed rgba(255, 255, 255, .0);  
    transition: border-color var(--fast);
    border-radius: 0;
}

view#new-task div.task-name-row svg {
    fill: var(--text-color);
}

view#new-task #task-description {
    height: 15rem;
    width: 100%;
    margin: 1rem 1rem;
    overflow-y: auto;
    background: rgba(0, 0, 0, .025);
}

:root[data-theme=dark] view#new-task #task-description{
    background: rgba(255, 255, 255, .05);
}

view#new-task h1{
    border-radius: .35rem;
    padding: .5rem ; 
    color: rgba(255, 255, 255, .85)
}

view#new-task h1::-webkit-scrollbar {
    display: none;
}

view#new-task h1#task-name:focus,
view#new-task p#task-description:focus {
    outline: none;
}

:root[data-theme=dark] #new-task h1#task-name:focus{
    border-color: rgba(255, 255, 255, .15);  
}

:root[data-theme=dark] view#new-task p#task-description:focus {
    background: rgba(255, 255, 255, .035);
}

view#new-task div.date-row {
    padding: .25rem 1rem;
}

view#new-task div.date-row label {
    margin-right: .5rem;
}

view#new-task button.task-label {
    margin: 0.25rem .25rem;
    min-height: 2rem;
    background: rgba(0, 0, 0, .065);
    border-radius: 5rem;
    padding: .25rem 1rem;
    transition: background var(--fast);
    cursor: pointer;
    box-shadow: none;
}

:root[data-theme=dark] view#new-task button.task-label {
    background: rgba(255, 255, 255, .065);
}

view#new-task div#tag-container {
    padding: 0.1rem 1rem;
    max-width: 38rem;
}

view#new-task div#tag-container button.task-label:hover,
view#new-task div#tag-container button.task-label:focus,
view#new-task div#tag-container button#new-tag:hover ,
view#new-task div#tag-container button#new-tag:focus  {
    background: rgba(0, 0, 0, .15);
    color: var(--text-color) !important;
}


:root[data-theme=dark] view#new-task div#tag-container button.task-label:hover,
:root[data-theme=dark] view#new-task div#tag-container button.task-label:focus,
:root[data-theme=dark] view#new-task div#tag-container button#new-tag:hover ,
:root[data-theme=dark] view#new-task div#tag-container button#new-tag:focus  {
    background: rgba(255, 255, 255, .15);
}


view#new-task div#tag-container button#new-tag {
    margin: 0rem;
    background: rgba(0, 0, 0, .065);
    border-radius: 5rem;
    box-shadow: none;
    display: flex;
    margin: .25rem;
    justify-content: center;
    align-items: center;
    color: var(--text-color) !important;
}

view#new-task div#tag-container button#new-tag svg {
    fill: var(--text-color);
}


:root[data-theme=dark] view#new-task div#tag-container button#new-tag {
    background: rgba(255, 255, 255, .065);
}

view#new-task button.icon-button {
    padding: .75rem 1rem;
    background: rgba(0,0,0,.05);
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
    width: fit-content;
    box-shadow: none;
}


:root[data-theme=dark] view#new-task button.icon-button{
    background: rgba(255,255,255,.05);
}

view#new-task button.icon-button svg {
    margin-left: .5rem;
    fill: var(--text-color)
} 

view#new-task button.icon-button:hover,
view#new-task button.icon-button:focus {
    background: rgba(0,0,0,.10);
    color: var(--text-color) !important;
}

:root[data-theme=dark] view#new-task button.icon-button:hover,
:root[data-theme=dark] view#new-task button.icon-button:focus {
    background: rgba(255,255,255,.1);
}


view#new-task.loading svg {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

view#new-task #recent-label-container {
    height: fit-content;
    width:  max(10rem, 30%);
    padding: 1rem;
    opacity: 0;
    transition: opacity var(--slow);
}

view#new-task #recent-label-container h1#title {
    width : 100%;
    padding: 7.8rem 0rem 2rem 0;
    height : fit-content;
}

view#new-task #recent-label-container .label {
    padding: .75rem;
    font-size: 1rem;
    border-left: .33rem solid rgba(255,255,255, .05); 
    width: 100%;
    height: fit-content;
    border-radius: 0 .35rem .35rem  0;
    cursor: pointer;
    margin: .1rem;
    margin-top: .5rem;
    cursor: pointer;
}

view#new-task #recent-label-container .label:hover {
    border-color: rgba(255,255,255, .15);

}