div#task-pop-up {
    width: 100%;
    height: 100%;
}


div#task-pop-up h1#task-name,
div#task-pop-up p#task-description {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: .35rem;
    max-width: 50rem;
    transition: background var(--fast) ;
}

div#task-pop-up h1#task-name {
    max-height: 3.5rem;
}

div#task-pop-up p#task-description {
    max-height: 15rem;
    overflow-y: auto;
}

div#task-pop-up h1#task-name:focus,
div#task-pop-up p#task-description:focus {
    outline: none;
    background: rgba(255, 255, 255, .05);
}
