view#tasks .task {
    width: 100%;
    padding: 1rem;
    border-radius: 0.55rem;
    height: 3rem;
    background: rgba(0,0,0,0.035);
    /*margin-bottom: .5rem;*/
    opacity: 0;
    transition: opacity var(--slow), width var(--medium);
}

:root[data-theme=dark] view#tasks .task {
    background: rgba(255,255,255,0.05);
}

view#tasks .task-toolbar {
    width: 6%;
    visibility: hidden;
    height: 100%;
    padding: 0rem 1rem;
    opacity: 0;
}   

view#tasks .task-box:hover .task-toolbar {
    width: 6rem;
    visibility: visible;
    transition: visibility var(--fast), width var(--medium), opacity var(--slow);
    opacity: 1;
}


view#tasks .task-box:hover .task {
    width: calc( 90% - 5rem);
}

view#tasks .task-box:hover .task-toolbar div{
    padding: .5rem;
    transition: background var(--fast);
    border-radius: .35rem;
    cursor: pointer;
}

view#tasks .task-box:hover .task-toolbar div svg {
    fill: var(--text-color) !important;
}

view#tasks .task-box:hover .task-toolbar div:hover{
    background: rgba(0,0,0,0.05);
}

:root[data-theme=dark] view#tasks .task-box:hover .task-toolbar div:hover{
    background: rgba(255,255,255,0.15);
}


view#tasks button#reload {
    padding: .5rem;
    margin: 0;
    background: rgba(255,255,255,.0);
    display: flex;
    justify-content: center;
    align-items: center;    
    box-shadow: none;
}

view#tasks button#reload:hover {
    background: rgba(0,0,0,.05);
}


:root[data-theme=dark] view#tasks button#reload:hover {
    background: rgba(255,255,255,.05);
}

view#tasks button#reload svg {
    fill: var(--text-color) !important;
} 