view#tasks div#wrapper {
    width: calc(100% - 20rem);
    height: 100%;
    max-height: 100%;
    padding: 3rem;

    overflow-x: hidden;
    overflow-y: auto;
    transition: opacity var(--slow);
}

view#tasks div#title-bar {
    width: 100%;
    margin-bottom: 2rem;
}

view#tasks div#title-bar h1#category-title {
    font-size: 1.7em;
    width: 100%;
    height: 2rem;
}

view#tasks .task-box {
    width: 100%;
    height: auto;
    margin-bottom: .5rem;
}

view#tasks .task-box label {
    display: none;
}

view#tasks.select .task-box label {
    display: flex;
}


view#tasks .task-box.done tasks {
    opacity: .4;
}

view#tasks .task-box.done .title {
    opacity: .6;
}


view#tasks .task-box .task {
    width: calc(100%);
    padding: 1rem;
    border-radius: 0.55rem;
    min-height: 3rem;
    background: rgba(0,0,0,0.035);
    opacity: 0;
    cursor: pointer;
    transition: opacity var(--slow), width var(--medium), height var(--fast);
}

:root[data-theme=dark] view#tasks .task-box  .task {
    background: rgba(255,255,255,0.05);
}

view#tasks .task-box .task .time {
    font-size: 0.8em;
    margin-left: .7rem;
    color: rgba(0,0,0,0.5);
}

:root[data-theme=dark] view#tasks .task-box .task .time {
    color: rgba(255,255,255,0.5);
}

view#tasks .task-toolbar {
    width: 0px;
    visibility: hidden;
    height: 100%;
   
    opacity: 0;
    padding: 0;
}   

view#tasks:not(.select) .task-box:hover .task-toolbar {
    width: 8rem;
    visibility: visible;
    transition: visibility var(--fast),  padding var(--fast), width var(--medium), opacity var(--slow);
    opacity: 1;
    padding: 0rem 1rem;
}

view#tasks:not(.select) .task-box:hover .task {
    position: relative;
    width: calc(100% - 8rem);
}

view#tasks .task-box:hover .task-toolbar div{
    padding: .5rem;
    transition: background var(--fast);
    border-radius: .35rem;
    cursor: pointer;
}

view#tasks .task-box:hover .task-toolbar div svg {
    fill: var(--text-color) !important;
}


view#tasks .task-box:hover .task-toolbar div:hover{
    background: rgba(0,0,0,0.05);
}

:root[data-theme=dark] view#tasks .task-box:hover .task-toolbar div:hover{
    background: rgba(255,255,255,0.15);
}


view#tasks.select button.button.multi-select {
    display: flex;
}

view#tasks button.button.multi-select {
    display: none;
}

view#tasks button.button {
    padding: .5rem;
    margin: 0;
    background: rgba(255,255,255,.0);
    display: flex;
    justify-content: center;
    align-items: center;    
    box-shadow: none;
}

view#tasks button.button:hover {
    background: rgba(0,0,0,.05);
}


:root[data-theme=dark] view#tasks button.button:hover {
    background: rgba(255,255,255,.05);
}

view#tasks button.button svg {
    fill: var(--text-color) !important;
} 

view#tasks .switch {
    width: 1.5rem;
    height: 100%;
    
}

view#tasks .switch input {
    display: none;
}

view#tasks .switch input[type=checkbox] + .switch-toggle svg {
    opacity: 0;
    transition: opacity .05s;
}

view#tasks .switch input[type=checkbox]:checked + .switch-toggle svg {
    opacity: 1;
}

view#tasks .switch input[type=checkbox] + .switch-toggle {
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    transition: background var(--fast);
    border-radius: .35rem;
    margin-left : -1rem;
}
