view#task{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1rem);
    display: flex;
}

view#task::before{
    content: "";
    position: absolute;
    top: 0;
    left: 5rem;
    width: .12rem;
    height: 100%;
    background-color: rgba(255,255,255,0.025);
}

view#task .timeline-icon{
    border-radius: 10rem;
}

view#task button.task-label {
    background: rgba(255,255,255,0.15);
    cursor: auto;
    margin-bottom: 0;
    margin-top: 0;
}