gtdf-select {
    font-size: .9rem;
}

gtdf-select #display-box {
    background: #f5f5f5;
    padding: .5rem .7rem;
    border-radius : .35rem;
    border: .1rem solid #eee;
    cursor: pointer;
}

gtdf-select #display-box:hover {
    transition: backgrounbd var(--fast);
    background: #f1f1f1;
}

gtdf-select #display-box #display-box-icon {
    margin-left: .5rem;
}

gtdf-select #selector {
    position: fixed;
    top: 3.5rem;
    visibility: hidden;
    background: #fff;
    box-shadow: .1rem .2rem .2rem rgba(0,0,0,.05);
    border-radius: .35rem;
    width: auto;
}

gtdf-select.show #selector {
    visibility: visible;
}

gtdf-select #selector .option {
    padding: .5rem .7rem;
    margin-top: .1rem;
    opacity: .8;
    cursor : pointer;
}

gtdf-select #selector .option:hover {
    background: #f5f5f5;
}