view#notes {
    display: flex;
    position: relative;
    width : 100%;
    height: 100%;
    padding: 3rem 4rem;
    backdrop-filter: blur(1rem);
    overflow: auto;
}

view#notes h1#title {
    font-size : 1.35rem;
    font-weight : bold;
    padding-bottom : 1rem;
}

view#notes h1#title #toolbar .icon-button {
    margin-left : 1rem;
    padding: .4rem;
    cursor: pointer;
    border-radius: .35rem;
    transition: background var(--fast);
}

view#notes h1#title #toolbar .icon-button:hover {
    background: rgba(255, 255, 255, 0.13);
}

view#notes .note-container {
    width : 100%;
    opacity: 0;
    transition: opacity var(--slow);
}

view#notes .note-container .sticky-note {
    min-width: 10rem;
    max-width: 15rem;
    min-height: 10rem;

    height: fit-content;
    
    padding: 1rem;
    padding-bottom: 3rem;
    margin: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 0.35rem;
    background-color: rgba(255, 255, 255, 0.13);
    transform-origin : bottom;
    cursor: pointer;
    transition: transform var(--medium);
}

view#notes .note-container .sticky-note:hover {
    background-color: rgba(255, 255, 255, 0.15);
    transform: translateY(1rem) rotate(0deg) scale(1.1) !important;
}

view#notes .note-container .sticky-note .title{
    font-size: 1rem;
    word-break: break-word;
    font-weight: bold;
    text-transform: uppercase;
}

view#notes .note-container .sticky-note .content {
    word-break: break-word;
    font-size: 0.8rem;
    margin-top: 1rem;
}

view#notes .note-container .sticky-note .icon-button {
    position: absolute;
    bottom: 1rem;
    opacity: 0;
    transition: opacity var(--slow);
}

view#notes .note-container .sticky-note:hover .icon-button {
   opacity: .6;
}

view#notes .note-container .sticky-note .icon-button:hover {
    transition: opacity var(--fast);
    opacity: 1;
}