#modal-blackscreen {
    background: rgba(40,40,40,.95);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    transition: opacity var(--medium);
    z-index: 100;
    backdrop-filter : blur(.3rem);
}

:root[data-wallpaper=true] #modal-blackscreen {
    background: rgba(0,0,0,.55);
}