@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/*
General variables of the framework
*/
:root {

--font : 'Open Sans', sans-serif;
--font-light:   'Open Sans', sans-serif;
--font-title:   'Open Sans', sans-serif;

--font-console: 'Ubuntu Mono', monospace;

--RGB-background:   250, 250, 250;
--RGB-background-alternative:   247, 247, 247;
--RGB-menu: 255, 255, 255;
--RGB-contrast: 241, 241, 241;
--RGB-accent-color: 180, 197, 255;
--RGB-text-color:   64, 64, 64;
--RGB-error-color:  235, 87, 87;
--RGB-success-color:0, 200, 81;
--RGB-warning-color:255, 187, 51;
--RGB-info-color:   91, 192, 222;
--RGB-disabled-color:   170, 170, 170;
--RGB-light-color:  250, 250, 250;
--RGB-dark-color:   16, 16, 16;
--background:   rgb(var(--RGB-background));
--background-alternative:   rgb(var(--RGB-background-alternative));
--menu: rgb(var(--RGB-menu));
--contrast: rgb(var(--RGB-contrast));
--accent-color: rgb(var(--RGB-accent-color));
--text-color:   rgb(var(--RGB-text-color));
--error-color:  rgb(var(--RGB-error-color));
--success-color:rgb(var(--RGB-success-color));
--warning-color:rgb(var(--RGB-warning-color));
--info-color:   rgb(var(--RGB-info-color));
--disabled-color:   rgb(var(--RGB-disabled-color));
--dark-color:   rgb(var(--RGB-dark-color));
--light-color:  rgb(var(--RGB-light-color));
--default-box-shadow:   0px 2px 4px rgba(0, 0, 0, .15);
--default-border-radius:.35rem;
--default-padding:  10px;
--default-margin:   10px;
--default-outline:  .5px solid lightgray;
--fast: .25s;
--medium:   .5s;
--slow: .75s;
--super-slow:   1s;
margin: 0;
padding:0;
font-size: 1.1rem;
overflow-x: hidden;
-webkit-tap-highlight-color: transparent;
}

:root[data-theme="dark"] {
    --RGB-text-color:   255, 255, 255;
    --RGB-accent-color: 180, 197, 255;
}

/*
Accessibility feature for reduced motion
*/
@media (prefers-reduced-motion) {
/* TODO Standard reduced motion*/
}
/*
author: @meyerweb
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/**
*  Added by @akrck02
*/
* {
box-sizing: border-box;
}
*:focus {
outline: var(--default-outline);
}
*[disabled]{
transition: none;
animation:  none;
}
.box-center{
display: flex;
justify-content: center;
align-items: center;
}
.box-x-center{
display: flex;
justify-content: center;
}
.box-x-start{
display: flex;
justify-content: flex-start;
}
.box-x-end{
display: flex;
justify-content: flex-end;
}
.box-x-around{
display:flex;
justify-content: space-around;
}
.box-x-between{
display: flex;
justify-content: space-between;
}
.box-y-center{
display: flex;
align-items: center;
}
.box-y-start{
display: flex;
align-items: flex-start;
}
.box-y-end{
display: flex;
align-items: flex-end;
}
.box-warp{
display: flex;
flex-wrap: wrap;
}
.box-column{
display: flex;
flex-direction: column;
}
.box-column-reverse{
display: flex;
flex-direction: column-reverse;
}
.box-row{
display: flex;
flex-direction: row;
}
.box-row-reverse{
display: flex;
flex-direction: row-reverse;
}
.box-fraction{
--n: 1;
width: calc(100% / var(--n));
}
.text-accent {
color: var(--accent-color);
}
.text-success {
color: var(--success-color);
}
.text-error {
color: var(--error-color);
}
.text-info {
color: var(--info-color);
}
.text-warning {
color: var(--warning-color);
}
.text-disabled {
color: var(--disabled-color);
}
.text-light {
color: var(--light-color);
}
.text-dark {
color: var(--dark-color);
}
.background-accent {
background: var(--accent-color);
}
.background-success {
background: var(--success-color);
}
.background-error {
background: var(--error-color);
}
.background-info {
background: var(--info-color);
}
.background-warning {
background: var(--warning-color);
}
.background-disabled {
background: var(--disabled-color);
}
.background-light {
background: var(--light-color);
}
.backgorund-dark {
background: var(--dark-color);
}
.text-left {
text-align: left;
}
.text-right {
text-align: right;
}
.text-center {
text-align: center;
}
.text-justify {
text-align: justify;
}
.bold , b, strong {
font-weight: bold;
}
.italic, i, em {
font-style: italic;
}
.no-copy * {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.text-truncate {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
min-width: var(--min-width);
}
.row {
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
}
.column {
flex-basis: 100%;
}
@media screen and (min-width: 800px) {
.column {
flex: 1;
}
}
.monochrome {
--scale : 100;
filter: grayscale(var(--scale));
}
.blur {
--scale : 100px;
filter: blur(var(--scale));
}
.saturate {
--scale : 1.5;
filter: saturate(var(--scale));
}
.bright {
--scale : 1.5;
filter: brightness(var(--scale));
}
button, input[type=submit] {
border: 0;
margin: 10px;
padding: 7px;
box-shadow: var(--default-box-shadow);
border-radius: var(--default-border-radius);
background: var(--contrast);
color: var(--text-color);
cursor: pointer;
transition-property: color, background;
transition-duration: var(--medium);
}
button:hover, button:focus, input[type=submit]:hover, input[type=submit]:focus {
background: var(--accent-color);
color: white;
}
button[disabled] , input[type=submit][disabled] {
background: var(--disabled-color);
color: inherit;
cursor: not-allowed;
opacity: 0.5;
}
/*
*   HTML input set
*/
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=tel],
input[type=number],
input[type=search],
input[type=date] {
--local-background: rgba(0, 0, 0, .025);
width: 100%;
padding: 6px;
border: none;
background: var(--local-background);
border-radius: var(--default-border-radius);
color: var(--text-color);
}
input[type=text].error:focus,
input[type=password].error:focus,
input[type=email].error:focus,
input[type=url].error:focus,
input[type=tel].error:focus,
input[type=number].error:focus,
input[type=search].error:focus,
input[type=date].error:focus,
textarea.error:focus {
outline: 2px solid transparent;
}
:root[data-theme=dark] input[type=text],
:root[data-theme="dark"] input[type=password],
:root[data-theme="dark"] input[type=email],
:root[data-theme="dark"] input[type=url],
:root[data-theme="dark"] input[type=tel],
:root[data-theme="dark"] input[type=number],
:root[data-theme="dark"] input[type=search],
:root[data-theme="dark"] input[type=date] {
--local-background: rgba(255, 255, 255, .05);
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=date]:focus,
textarea:focus {
transition: .5s;
outline: 2px solid var(--accent-color);
}
/*
*   Textarea
*/
textarea {
--local-background: rgba(0, 0, 0, .025);
padding: 6px;
border: none;
background: var(--local-background);
border-radius: var(--default-border-radius);
color: var(--text-color);
resize: none;
}
@media (prefers-color-scheme : dark) {
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=tel],
input[type=number],
input[type=search],
input[type=date],
textarea {
--local-background: rgba(255, 255, 255, .05);
}
}
/**
*   Error handle
*/
input,
textarea {
outline: 2px solid transparent;
backdrop-filter: blur(10px);
}
input.error,
textarea.error {
border: 2px solid var(--error-color);
}
.switch {
position: relative;
display: inline-flex;
align-items: center;
margin: 0;
}
.switch .switch-toggle{
position: relative;
cursor: pointer;
transform: translateY(50%);
}
.switch .switch-toggle::before,
.switch .switch-toggle::after {
position: relative;
content: '';
background: var(--contrast);
margin: 0 3px;
transition: all .25s;
display: block;
}
.switch .switch-toggle::before {
position: relative;
height: 1.4em;
width: 1.4em;
border-radius: 100%;
opacity: 0.6;
transform: translateY(-50%);
box-sizing: border-box;
border: 2px solid rgba(0,0,0,.25);
z-index: 0;
top: 0%;
}
.switch .switch-toggle::after {
position: relative;
height: .8em;
width: .8em;
background: transparent;
transform: translateY(-1.8em) translateX(.3em);
box-sizing: border-box;
border: 2px solid transparent;
border-radius: 100%;
z-index: 1;
}
.switch [type=checkbox]:checked+.switch .switch-toggle::before,
.switch [type=checkbox]:checked+.switch-toggle::after{
background:  var(--accent-color);
}
.switch input[type=checkbox] {
display: none;
}
.switch .title {
margin-left: 0.5em;
}
div.context {
display: block;
margin: 0;
list-style: none;
position: fixed;
z-index: 100;
background: rgb(var(--RGB-contrast), .7);
backdrop-filter: blur(10px);
border: none;
border-radius: .4rem;
box-shadow: var(--default-box-shadow);
width: 200px;
min-height: 180px;
overflow: auto;
overflow-x: hidden;
overflow-y: auto;
scroll-behavior: smooth;
}
/* context menu custom scrollbar */
div.context::-webkit-scrollbar {
background: rgba(0, 0, 0, .01);
width: .5rem;
}
div.context::-webkit-scrollbar-thumb {
background: rgba(31, 31, 31, .2);
border-radius: .4rem;
}
/* context menu title */
div.context .title {
display: block;
margin-top: .5rem;
padding: .5rem 1rem;
font-size: 1.3rem;
font-weight: bold;
color: rgb(var(--RGB-text-color));
}
/* menu options */
div.context li {
display: flex;
justify-self: center;
align-items: center;
padding: 1rem;
cursor: pointer;
}
div.context li:hover {
background: rgba(0, 0, 0, .05);
}
div.context li span {
display: block;
margin-left: .5rem;
}
div.context span.separator {
display: block;
height: .1rem;
margin: 2px 0px;
border-radius: 1px;
background: rgba(0, 0, 0, .15);
cursor: default;
}
.material-nav {
background-color: rgb(var(--RGB-menu),.7);
border-bottom: 1px solid rgba(0, 0, 0, 0.12);
box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
min-height: 64px;
justify-content: center;
padding: 0 16px;
margin: 0;
position: relative;
z-index: 1;
backdrop-filter: blur(5px);
}
.material-nav li.tab {
list-style-type: none;
margin: 0px 2.5px;
cursor: pointer;
padding: 7px 12px;
transition: background var(--fast);
border-radius: 10rem;
}
.material-nav li.tab:hover {
background-color: var(--background-alternative);
}
/**
*   Icon tabs
*/
.material-nav li.icon-tab {
display: flex;
justify-content: center;
flex-direction: column;
padding: .5rem 1rem;
box-sizing: content-box;
font-size: .75rem;
border-radius: .5rem;
color: var(--text-color);
transition: background var(--fast);
}
.material-nav li.icon-tab a{
color: var(--text-color);
}
.material-nav li.icon-tab a {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.material-nav li.icon-tab i {
font-size: 1.3rem;
padding: .2rem;
color: var(--text-alternative);
}
.material-nav li.icon-tab.selected, .material-nav li.icon-tab:focus  {
background-color: rgb(var(--RGB-contrast),.7);
}
.material-nav li.icon-tab *:focus {
outline: none;
}
nav.breadcrumb {
margin-bottom: 0;
padding: 15px;
background-color: rgba(var(--RGB-menu), .7);
backdrop-filter: blur(5px);
}
nav.breadcrumb > li {
display: inline-block;
cursor: pointer;
color: rgba(var(--RGB-text-color),.8);
}
nav.breadcrumb > li + li:before {
padding: 0 5px;
color: rgba(var(--RGB-text-color),.7);
content: "/\00a0";
}
nav.breadcrumb > li:last-child {
color: rgba(var(--RGB-text-color),1);
}
html {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
body {
position: absolute;
width: 100%;
height: 100%;
margin: 0;
padding: 0;
background: var(--background);
color: var(--text-color);
font-family: var(--font);
}
input[type="checkbox"] {
margin: 10px;
}
label {
cursor: pointer;
}
button:focus,
input:focus {
outline: none;
}
h1 {
font-family: var(--font-title);
font-size: 1.5em;
}
a {
--color: var(--accent-color);
--text-decoration: none;
color: var(--color);
text-decoration: var(--text-decoration);
}
