view#gallery {
    width: 100%;
    margin-top: 4rem;
}

view#gallery .canvas {
    margin: .25rem;
    opacity: 0;
    transition: opacity 1s;
    width : 22%;
    height: 22vw;
    max-width: 40rem;
    max-height: 40rem;
}

view#gallery .canvas img {
    width: 100%;
    height: 100%;
    object-fit:cover; 
    border-radius: .25rem;
    cursor: pointer;
    transition: all .5s;
    opacity: 0;
}

view#gallery .canvas {
    background-color: var(--loading-color);
    border-radius: .255rem;

    background: linear-gradient(
        100deg,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, .02) 50%,
        rgba(255, 255, 255, 0) 60%
    ) #222222;
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s loading ease-in-out infinite;
    transition: transform .5s;
    box-shadow: 0 1 1rem rgba(0,0,0,.25);
}


@keyframes loading {
    to {
        background-position-x: -20%;
    }
}

view#gallery .canvas:hover {
    transform: scale(.98);
}



@media screen and (max-width: 1200px) {


    view#gallery .canvas {
        width : 32%;
        height: 32vw;
        max-width: 40rem;
        max-height: 40rem;
    }
    

}

@media screen and (max-width: 600px) {
    
    view#gallery {
        margin-top: 1rem;
    }
    
    view#gallery .canvas {
        width : 80%;
        height: auto;
        margin: .2rem  0;
    }
    
}