div#config-menu {
    width: 16rem;
    height: 100%;
    border-right: .1rem solid rgba(0, 0, 0, 0.05);
}


div#config-menu button.option {
    width: 80%;
    height: 2.5rem;
    margin: .15rem 0;
    border-radius: 0.35rem;
    padding: 0 1rem;
    cursor: pointer;
    background: transparent;
    box-shadow: none;
    color: var(--text-color);
    transition: background var(--fast), transform var(--fast);
}

div#config-menu button.option svg {
    margin-right: .5rem;
    fill: var(--text-color) !important;
}

div#config-menu button.selected {
    background: rgba(0,0,0,0.05);
}

div#config-menu button:hover {
    color: var(--text-color);
}

div#config-menu button:not(.selected) {
    opacity: 0.5;
    transition: opacity var(--fast);
}

div#config-menu button:not(.selected):hover {
    /* transform: translateX(.25rem);*/
    opacity: .8;
}

:root[data-theme=dark] div#config-menu button.selected {
    background: rgba(255, 255, 255, 0.05);
}
