button.mode-select {
    box-shadow: none;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, .1)
}

button.mode-select.selected, :root[data-theme=dark] button.mode-select.selected {
    background: rgba(var(--RGB-accent-color), .7);
}

:root[data-theme=dark] button.mode-select {
    background: rgba(0, 0, 0, .45);
}
