button.mode-select {
    box-shadow: none;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, .0);
    color: var(--text-color) !important;
}

button.mode-select svg {
   margin-left: .5rem;
   fill: var(--text-color) !important;
}

button.mode-select svg {
    margin-left: .5rem;
    fill: var(--text-color) !important;
 }
 

button.mode-select.selected {
    background: rgba(0, 0, 0, .05);
} 

:root[data-theme=dark] button.mode-select.selected {
    background: rgba(255, 255, 255, .05);
}

:root[data-theme=dark] button.mode-select {
    background: rgba(0, 0, 0, .0);
}
