@import url("./bubbleUI.css");


:root[data-animations=false]{
    --fast : 0s;
    --medium : 0s;
    --slow : 0s;
}

body {
    z-index: 0;
    background-size: cover;
}

body.loading::after {
    content: "";
    position: fixed;
    top: 0%;
    left: 0%;
    transform: rotate(0deg);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: -1;
}

body.loading::after {
    animation: loader .5s;
}

*::-webkit-scrollbar {
    width: .35rem;
    background-color: transparent;
}

*::-webkit-scrollbar:hover {
    width: .35rem;
}

*::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .15);
    border-radius: 3em;
}

:root[data-theme=dark] *::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .1);
}

@keyframes loader {
    0% {
        left: 0%;
    }

    100% {
        opacity: 0;
    }
}

#terminal {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .0);
    height: 100%;
    min-width: 22rem;
    padding: 0rem;
    line-height: 1.5rem;
    border-left: .1rem solid rgba(0, 0, 0, .05);
    border-top: .1rem solid rgba(0, 0, 0, .05);
    backdrop-filter: blur(.5rem);

    transition: opacity var(--fast), right var(--fast);
}

:root[data-theme="dark"] #terminal {
    background: rgba(0, 0, 0, .03);
}

#terminal.hidden * {
    opacity: 0;
    display: none;
}

div#terminal h1#title {
    padding: 1rem 2rem 0 2rem;
    font-weight: bold;
    font-size: 1.3rem;
}

div#terminal h1.log-item-title {
    font-weight: bold;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    margin-top: 0;
}

div#terminal div#tab-bar {
    height: 3rem;
    border-bottom: .1rem solid rgba(0, 0, 0, .05);
    padding: 0rem 2rem;
    display: flex;
    align-items: center;
}

div#terminal div#tab-bar button.tab {
    --color: var(--accent-color);
    margin: 0rem .1rem;
    box-shadow: none;
}

div#terminal div#tab-bar button.tab:hover,
div#terminal div#tab-bar button.tab.selected,
div#terminal div#tab-bar button.tab:focus {
    background: var(--color);
    color: #fff;
}

div#terminal div#tab-bar button#variables {
    background: transparent;
}

div#terminal div#tab-bar button#variables.selected {
    background: rgba(255, 255, 255, .25);
}

div#terminal p {
    height: calc(100% - 5rem);
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

div#terminal p::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: transparent;
}

div#terminal p::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .15);
    border-radius: 3em;
    height: 3em;
}

div#terminal span.log-item {
    display: block;
    padding: .45rem 2rem;
    min-height: 2.6rem;
    height: fit-content;
    font-size: .9rem;
    border-bottom: .08rem solid rgba(0, 0, 0, .05);
    margin: 0;
}

div#terminal span.log-item span.log-time {
    display: flex;
    justify-content: flex-end;
    opacity: .5;
    font-size: .75rem;
}

div#terminal td.key {
    background-color: rgba(0, 0, 0, .8);
    color: #FFFFFF;
    border-radius: .35rem;
    max-width: 50%;
    width: fit-content;
    font-size: .75rem;
    padding: .1rem .5rem;
    font-weight: bold;
}

div#terminal td.value {
    border-radius: .35rem;
    width: 100%;
    height: fit-content;
    font-size: .75rem;
    font-weight: bold;
    padding: .1rem .5rem;
}


div#terminal div#input-bar {
    background: rgba(0, 0, 0, .0);
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#terminal input {
    width: 90%;
    height: 1.7rem;
    padding: .35rem;
    border-radius: .35rem;
    color: #404040;
    background: rgba(0, 0, 0, .045);
    border: .15rem solid rgba(0, 0, 0, .01);
}

:root[data-theme="dark"] div#terminal input {
    background: rgba(255, 255, 255, .07);
    color: #fff;
    border: .15rem solid rgba(0, 0, 0, .05);
}

header#os-navbar {
    background: #fff;
    color: #FFFFFF;
    height: 2.5rem;
    backdrop-filter: blur(1rem);
}

:root[data-theme=dark] header#os-navbar {
    background: rgba(0, 0, 0, .07);
}

header#os-navbar div.drag-region {
    -webkit-app-region: drag;
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
}

header#os-navbar div.drag-region#first {
    position: relative;
    min-width: 25%;
}

header#os-navbar h1#title {
    font-size: .7rem;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 1.2rem;
    letter-spacing: .12rem;
    color: #404040;
}

:root[data-theme=dark] header#os-navbar h1#title {
    color: #fff;
    margin-right: 2rem;
}

header#os-navbar div#control-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    margin-right: 1.2rem;
}

header#os-navbar div#window-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

header#os-navbar div#window-controls .button {
    padding: .2rem;
    height: 100%;
    box-sizing: border-box;
    transition: background var(--fast);
    cursor: pointer;
}

header#os-navbar div#window-controls .button:hover, header#os-navbar div#window-controls .button:focus {
    background: rgba(0, 0, 0, .05);
}

:root[data-theme=dark] header#os-navbar div#window-controls .button:hover {
    background: rgba(255, 255, 255, .1);
}

header#os-navbar div#window-controls svg {
    --size: 1.8rem;
    padding: .25rem;
    fill: #404040;
    border-radius: .35rem;
    width: var(--size);
    height: var(--size);
}

:root[data-theme=dark] header#os-navbar div#window-controls svg {
    fill: #fff;
}

header#os-navbar div#search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 30%;
}

header#os-navbar div#search input#search-input {
    position: relative;
    width: 100%;
    height: 1.5rem;
    border: none;
    background: rgba(0, 0, 0, .05);
    border-radius: .35rem;
    color: #404040;
    font-size: .7rem;
    padding: .5rem;
    transition: width var(--fast);
    cursor: text;
}

:root[data-theme=dark] header#os-navbar div#search input#search-input {
    background: rgba(255, 255, 255, .05);
    color: #FFFFFF;
}

:root[data-theme=dark] header#os-navbar div#search input#search-input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: .9;
}

header#os-navbar div#search input#search-input:focus {
    width: 95%;
    outline: none;
}

div#view-container {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    align-items: center;
    justify-content: start;
    height: calc(100% - 2.5rem);
    width: 100vw;
    max-width: 100vw;

}

view {
    border-top: .1rem solid rgba(0, 0, 0, .05);
}

:root[data-theme=dark] view {
    border: none;
}

div#sidebar {
    --sidebar-background: #fff;
    width: 3rem;
    min-width: 3rem;
    height: 100%;
    background: var(--sidebar-background);
    padding: .2rem 0;
    backdrop-filter: blur(1rem);
    border-right: .1rem solid rgba(0, 0, 0, .05);
}

:root[data-theme=dark] div#sidebar {
    --sidebar-background: rgba(0, 0, 0, .07);
    ;
    border-right: none;
}

div#sidebar a.sidebar-item {
    --sidebar-item-size: 2.5rem;
    height: var(--sidebar-item-size);
    width: var(--sidebar-item-size);
    margin: 0.15rem 0;
    border-radius: .35rem;
    transition: background var(--fast);
    cursor: pointer;
}

div#sidebar a.sidebar-item svg {
    fill: #404040;
}

:root[data-theme=dark] div#sidebar a.sidebar-item svg {
    fill: #e1e1e1;
}

div#sidebar a.sidebar-item svg{
    position: relative;
    left: -.1rem;    
}

div#sidebar a.sidebar-item::before {
    content: "";
    display: block;
    position: relative;
    top: 0;
    left: -.75rem;
    width: .2rem;
    height: 100%;
  
    background: rgba(0, 0, 0, .7);
    border-radius: 50rem;
    opacity: 0;
    transition: opacity var(--fast);
    
}

div#sidebar a.sidebar-item.selected::before {
    opacity: 1;
}

:root[data-theme=dark] div#sidebar a.sidebar-item::before {
    background: rgba(255, 255, 255, .1);
}

:root[data-theme=dark] div#sidebar a.sidebar-item.selected svg {
    fill: #e1e1e1;
}


div#sidebar a.sidebar-item:hover,
div#sidebar a.sidebar-item:focus{
    outline: none;
}

div#sidebar a.sidebar-item:not(.selected):hover,
div#sidebar a.sidebar-item:not(.selected):focus{
    background: rgba(0, 0, 0, .1);
}

:root[data-theme=dark] div#sidebar a.sidebar-item:not(.selected):hover,
:root[data-theme=dark] div#sidebar a.sidebar-item:not(.selected):focus{
    background: rgba(255, 255, 255, .1);
}

div#category-bar {
    width: 20em;
    height: 100%;
    padding: 1rem 1.7rem;
    border-right: .1rem solid rgba(0, 0, 0, .05);
    transition: width var(--medium), opacity var(--slow);
    backdrop-filter: blur(.5rem);
}

div#category-bar div#search-bar {
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
}

div#category-bar div#search-bar input#search-input {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .05);
    border-radius: .35rem;
    border: none;
    padding: .5rem;
    color: var(--text-color);
}

:root[data-theme=dark] div#category-bar div#search-bar input#search-input {
    background: rgba(255, 255, 255, .05);
}


:root[data-theme=dark] div#category-bar div#search-bar input#search-input::placeholder {
    color: #fff;
    opacity: .9;
}


div#category-bar div.label {
    padding: .25rem;
    margin: .35rem 0.1rem;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: .1rem;
    height: 1rem;
    opacity: .6;
    transition: opacity var(--fast), font-size var(--fast);
}

div#category-bar div.label.selected {
    font-size: .8rem;
    opacity: 1;
}


div#category-bar div.label.selected::after {
    content: '';
    display: block;
    width: .1rem;
    height: 1rem;
    background: var(--text-color);
    position: relative;
    left: -5%;
    top: -.9rem;
    border-radius: 2rem;
}

div#category-bar div.label:hover {
    opacity: .8;
}

.backdrop {
    backdrop-filter: blur(.3rem);
}

div#config-menu {
    width: 16rem;
    height: 100%;
    border-right: .1rem solid rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(.3rem);
}


div#wallpaper-gallery {
    width: 100%;
    padding: .5rem 3rem;
    flex-wrap: wrap;
}

div#wallpaper-gallery img.wallpaper-gallery-item {
    width: 7rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 0.35rem;
    cursor: pointer;
    margin: 0.5rem .75rem;
    box-shadow: var(--default-box-shadow);
    transition: transform var(--fast);
}

div#wallpaper-gallery img.wallpaper-gallery-item:hover {
    transform: scale(1.1);
}

div#wallpaper-gallery img.wallpaper-gallery-item.selected {
    transform: scale(1.3);
    border: .25rem dashed rgba(0, 0, 0, .5);
}

button.mode-select {
    box-shadow: none;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, .1)
}

button.mode-select.selected, :root[data-theme=dark] button.mode-select.selected {
    background: rgba(var(--RGB-accent-color), .7);
}

:root[data-theme=dark] button.mode-select {
    background: rgba(0, 0, 0, .45);
}

div#calendar-container {
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 3rem;
    overflow-y: auto;
    opacity: 0;
    transition: opacity var(--slow);
    flex-wrap: wrap;
}

div#calendar-container div#calendar-wrapper {
    width: 100%;
    max-width: 56rem;
}

#calendar-container h1 {
    position: relative;
}

#calendar {
    width: 100%;
}

#calendar div.day {
    width: 7.5rem;
    height: 7.5rem;
    margin: .25rem;
    border-radius: .35rem;
    padding:  1rem;
    background: rgba(0,0,0,.035);
    opacity: 0;
    transition: opacity var(--slow);
    border: .25rem solid rgba(255, 255, 255, 0);
    transition: transform var(--fast), background var(--fast);
}


#calendar div.day:not(.empty):hover {
    transform: scale(.95);
    cursor: pointer;
    background: rgba(0,0,0,.055);
}

:root[data-theme=dark] #calendar div.day:not(.empty):hover {
    background: rgba(255,255,255,.1);
}

:root[data-theme=dark] #calendar div.day {
    background: rgba(255,255,255,.05);
}

#calendar div.day.empty {
    background: rgba(0,0,0,.015); 
}

:root[data-theme=dark] #calendar div.day.empty {
    background: rgba(255,255,255,.025); 
}

:root[data-theme=dark] #calendar div.day.today {
    border-color:rgba(255, 255, 255, 0.2);
}

#calendar div.day.today {
    border-color: rgba(0, 0, 0, 0.1);
}


div#calendar-more, :root[data-terminal-visible=true] div#calendar-more {
    opacity: 0;
    display: none;
}

@media (min-width: 1450px) {
    div#calendar-more {
        display: flex;
        height: 82%;
       
        min-width: 27rem;
        width: 30%;
        margin-left: 5rem;
        margin-top: 3.9rem;
        background-color: rgba(0,0,0,0.035);
        border-radius: 0.5rem;
        opacity: 1;
    }

    :root[data-theme=dark] div#calendar-more {
        background-color: rgba(255,255,255,0.035);
    }
}
